* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: pink;
}
.main-border {
    position: relative;
}
.nav-bar {
    padding: 10px;
    background-color: rgb(255, 141, 160);
    border-radius: 50px;
}
.content {
    display: flex;
    justify-content: space-around;
    height: 700px;
}
.nav-bar {
    justify-content: space-between;
    display: flex;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}
.box1 {
    margin: 10px;
    background-color: rgb(255, 141, 160);
    border-radius: 10px;
}
.box2 {
    margin: 10px;
    background-color: rgb(255, 141, 160);
    border-radius: 10px;
}
.box-mid {
    height: 90vh;
    padding: 2px;
    background-color: rgb(255, 141, 160);
}
.menu {
    margin: 5px;
    margin-left: 10px;
    font-size: x-large;
}
.menu i{
    color: rgb(67, 0, 67);
}
.search input{
    width: 150px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 2px 5px rgba(red, green, blue, alpha);
    margin: 6px;
    transition: 0.5s ease-in-out;
}
.search input:focus {
    width: 450px;
}
.search i {
    position: relative;
    top: 5%;
    right: 39px;
    cursor: pointer;
}
.logo {
    margin: 5px;
    margin-right: 10px;
    font-size: x-large;
}
.logo i {
    color: rgb(67, 0, 67);
}
.content-box1,
.content-box2 {
    margin: 10px;
}
.link1,
.link7 {
    margin-top: 25px;
}
.link1,
.link2,
.link3,
.link4,
.link5,
.link6,
.link7,
.link8,
.link9,
.link10,
.link11,
.link12 {
    margin-bottom: 30px;
    border-radius: 50px;
    background-color: pink;
    width: 700px;
    height: 80px;
    padding: 12px;
}
.prof1-content,
.prof2-content,
.prof3-content,
.prof4-content,
.prof5-content,
.prof6-content {
    background-color: rgb(255, 141, 160);
    height: 55px;
    border-radius: 50px;
    display: flex;
    padding: 1px;
    justify-content: space-between;
}
.prof1 {
    border-radius: 50%;
    width: 55px;
    align-items: center;
}
.prof1 i,
.prof2 i,
.prof3 i,
.prof4 i,
.prof5 i,
.prof6 i{
    font-size: xx-large;
    margin: 10px;
    margin-left: 15px;
    color: rgb(67, 0, 67);
}
.content1 a,
.content2 a,
.content3 a,
.content4 a,
.content5 a,
.content6 a {
    margin: 50%;
    text-decoration: none;
    font-family: "Sofia", sans-serif;
    font-size: small;
    color: rgb(67, 0, 67);
}
.img1 img,
.img2 img,
.img3 img,
.img4 img,
.img5 img,
.img6 img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin: 3px;
}